

.title {
display: flex;
justify-content: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.buttons {
display: flex;
justify-content: center;
}

#male {
    font-size: 16px;
    width: 100px;
    height: 50px;
    border-radius: 15%;
    border-width: 1px;
    border-color: steelblue;
 background-color: skyblue;
font-weight: 800;
margin-right: 30px;
}

#male:hover {
    background-color: seashell;
}
#female {
    font-size: 16px;
    width: 100px;
    height: 50px;
    border-radius: 15%;
    font-size: 16px;
    width: 100px;
    border-width: 1px;
    border-color: red;
    background-color: pink;
    font-weight: 800;
}
#female:hover {
    background-color: seashell;
}
#boyNames {
    display: flex;
    justify-content: center;
    background-color: rgb(154, 224, 250);
    padding: 50px;
    margin-bottom: 20px;
}

#girlNames {
    display: flex;
    justify-content: center;
    background-color: rgb(246, 164, 177);
    padding: 50px;
    margin-bottom: 20px;
}

#button1 {
width: 100px;
}

#button1:hover {
background-color: seashell;
}

#button2 {
width: 100px;
}

#button2:hover {
background-color: seashell;
}
#reset {
width: 100px;
}

#reset:hover {
background-color: seashell;
}

.extra {
    margin-left: 20%;
}

.info {
display: flex;
align-items: center;
}