.main {
    display: flex;
    color: white;
    text-shadow: 1px 1px black;
    align-items: center;
    background-image: url('images/home_background.jpg');
    background-position: center;
    height: 800px;
}

.home {
    width: 100%;
}

.title {
display: flex;
justify-content: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

 .buttons {
 display: flex;
 justify-content: center;
 }

#male {
    font-size: 16px;
    width: 100px;
    height: 50px;
    border-radius: 15%;
    border-width: 1px;
    border-color: steelblue;
 background-color: skyblue;
font-weight: 800;
margin-right: 30px;
}

#male:hover {
    background-color: seashell;
}
#female {
    font-size: 16px;
    width: 100px;
    height: 50px;
    border-radius: 15%;
    font-size: 16px;
    width: 100px;
    border-width: 1px;
    border-color: red;
    background-color: pink;
    font-weight: 800;
}
#female:hover {
    background-color: seashell;
}
#boyNames {
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: 1px 1px black;
    font-weight: 500;
    background-image: url('images/boys_background.jpg');
    padding: 50px;
    margin-bottom: 20px;
    height: 800px;
}

#girlNames {
    display: flex;
    color: white;
    text-shadow: 1px 1px black;
    font-weight: 600;
    justify-content: center;
    background-image: url('images/girls_background.jpg');
    padding: 50px;
    margin-bottom: 20px;
    height: 800px;
}

#button1 {
width: 100px;
}

#button1:hover {
background-color: seashell;
}

#button2 {
width: 100px;
}

#button2:hover {
background-color: seashell;
}
#reset {
width: 100px;
}

#reset:hover {
background-color: seashell;
}

.extra {
    display: flex;
    align-items: center;
    margin-left: 20%;
}

.info {
display: flex;
align-items: center;
}

#text {
    display: flex;
    align-items: center;
}